<a href="/drivers">
Drivers
</a>
<div>
<a href="/picks">
My lineup
</a>
</div>

<div>
  <div>
    <h1>
      List of all teams
    </h1>
  </div>
</div>

<hr>



<hr>
<div>
  <div>
    <table>
      <tr>
      

         <th>
          Name
        </th>

        

        <th>
          Manufacturer
        </th>

      

        <th>
          Number of Cars
        </th>


        <th>
        </th>
      </tr>

      <% @list_of_teams.each do |a_team| %>
      <tr>
      

        <td>
          <%= a_team.name %>
        </td>

        <td>
          <%= a_team.manufacturer.make %>
        </td>

       

        <td>
          <%= a_team.stable_count %>
        </td>

       

        <td>
          <a href="/teams/<%= a_team.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
